.nav-logo {
	width: 140px;
}

body {
	font-family: "Futura Medium";

	b,
	h1,
	h2,
	h3,
	h4,
	.nav-link,
	.font-weight-bold,
	.btn {
		font-family: "Futura Heavy";
	}
}

.form-group-overflow {
	max-height: none;
}

.btn-light {
	background-color: inherit;
	border-color: #ddd;
}

.nav-recommendations {
	display: flex;
	flex-direction: row;
	justify-content: center !important;
}

.navbar-nav > .nav-item > .nav-link i {
	font-size: 1.2rem;
}

.flickity-page-dots-progress .flickity-page-dots .dot{
	background-color: #111;
}