.nav-logo {
	width: 140px;
}

body {
	font-family: "Futura Medium";

	b,
	h1,
	h2,
	h3,
	h4,
	.nav-link,
	.font-weight-bold,
	.btn {
		font-family: "Futura Heavy";
	}
}

.form-group-overflow {
	max-height: none;
}

.btn-light {
	background-color: inherit;
	border-color: #ddd;
}

// .nav-header{
// 	font-size: 26px;
// }

.nav-recommendations {
	display: flex;
	flex-direction: row;
	justify-content: center !important;
}

.navbar-nav > .nav-item > .nav-link i {
	font-size: 1.2rem;
}

// @media (min-width: 992px) {
// 	.navbar-expand-lg .navbar-nav {
// 		flex-direction: column;
// 	}
// }

// .navbar-brand{
// 	margin: 0;
// 	align-content: center;
// 	justify-content: center;
// 	display: flex;
// 	margin-bottom: .4rem;
// }