// @media (max-width:768px){
// 	.nav-header{
// 		font-size: 20px;
// 	}
// }

.navbar-icons-mobile{
	display: none;
}

@media (max-width:991px){
	.navbar-first{
		display: none;
	}

	.navbar-brand{
		margin: 0 0 0 0;
		position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
		.nav-logo{
			width: 70px;
		}
	}

	.navbar{
		padding: .6rem;
		.navbar-nav > .nav-item > .nav-link i{
			font-size: 15px;
			padding: 2px 5px;
		}
		.navbar-toggler{
			font-size: 10px;
		}
	}

	.navbar-icons-desktop{
		display: none;
	}
	.navbar-icons-mobile{
		display: flex;
	}
}