.nav-logo{
	width: 140px;
}

body{
	font-family: "Futura Medium";
	
	b, h1, h2, h3, h4, .nav-link, .font-weight-bold, .btn{
		font-family: "Futura Heavy";
	}
}

.form-group-overflow{
	max-height: none;
}

.btn-light{
	background-color: inherit;
	border-color: #DDD;
}

@font-face {
  font-family: 'Futura Medium';
  // src: local('Futura'), url("./assets/fonts/futur.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Bold\ font.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Book\ font.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Heavy\ font.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Light\ font.ttf") format('truetype');
  src: local('Futura'), url("./assets/fonts/futura\ medium\ bt.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ XBlk\ BT.ttf") format('truetype');
}

@font-face {
  font-family: 'Futura Heavy';
  // src: local('Futura'), url("./assets/fonts/futur.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Bold\ font.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Book\ font.ttf") format('truetype');
  src: local('Futura'), url("./assets/fonts/Futura\ Heavy\ font.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ Light\ font.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/futura\ medium\ bt.ttf") format('truetype');
  // src: local('Futura'), url("./assets/fonts/Futura\ XBlk\ BT.ttf") format('truetype');
}